<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Yo Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addProfile()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- to show list of profiles -->

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>Prem Kumar</h3>
        <p>pkworlz@gmail.com</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>